.app__menuitem {
    width: 100%;
    margin: 1rem 0;
}

.app__menuitem-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app__menuitem-name {
    flex: 1;
}

.app__menuitem-dash {
    width: 90px;
    height: 1px;
    background: var(--color-golden);
    margin: 0 1rem;
    transition: width 0.35s ease;
}

.app__menuitem:hover .app__menuitem-dash {
    width: 124px;
}

.app__menuitem-price {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
